<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs')  %> 

<body>
    
    <%- include('./partials/nav.ejs')  %>

   <!-- main header section -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                    <input type="submit" value="search" id="searchBtn">
                </form>
            </div>
            <div class="tempInfo">
                <div class="top_layer">
                    <p id="day"></p>
                    <p id="date"></p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Get Output here</p>
                    <div class="middle_layer data-hide">
                        <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                        <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                    </div>
                </div>
            </div>
      </div>
    </div>
   </div>

   <%- include('./partials/footer.ejs')  %>

   <script src='Javascript/config.js'></script>
   <script src="Javascript/script.js"></script>
   <script>
       const getCurrentDay = () => {
           let weekday = new Array(7);
           weekday[0] = "Sunday";
           weekday[1] = "Monday";
           weekday[2] = "Tuesday";
           weekday[3] = "Wenesday";
           weekday[4] = "Thursday";
           weekday[5] = "Friday";
           weekday[6] = "Saturday";

           let currentTime = new Date();
           days = weekday[currentTime.getDay()];
           let day = document.getElementById('day');

           day.innerText = days;
       }

       getCurrentDay();
   </script>

</body>
</html>